<a href="https://colab.research.google.com/github/RanyasriSingareddy/Deepak-Goyal_Data-Engineer/blob/main/DatabricksAssignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<span style="color:blue">
 <h2> Databircks-Assignemnt 1: Pyspark Basics
</span>
  <h5>
    <span style="color:red">
<b>Author: Deepak Goyal <br>
   <a> adeus.azurelib.com </a><br>
   Email at: admin@azurelib.com
</span>

In [5]:
#Import the data
# Import
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=a22fdceefcbecc1a5d13ae83bb4f7ae7527c118d7c6564d13f9e9e527cb9dade
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [12]:
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.appName("PythonPi").getOrCreate()

# Read CSV File
df = spark.read.csv("/Order.csv", header=True, inferSchema=True)
df.show()

+--------------------+----------+---------------+------------+-------------+---------+---------+---------+--------+------------+----------+-----------+
|              Region|   Country|       ItemType|SalesChannel|OrderPriority|  OrderID|UnitsSold|UnitPrice|UnitCost|TotalRevenue| TotalCost|TotalProfit|
+--------------------+----------+---------------+------------+-------------+---------+---------+---------+--------+------------+----------+-----------+
|Middle East and N...|     Libya|      Cosmetics|     Offline|            M|686800706|     8446|    437.2|  263.33|   3692591.2|2224085.18| 1468506.02|
|       North America|    Canada|     Vegetables|      Online|            M|185941302|     3018|   154.06|   90.93|   464953.08| 274426.74|  190526.34|
|Middle East and N...|     Libya|      Baby Food|     Offline|            C|246222341|     1517|   255.28|  159.42|   387259.76| 241840.14|  145419.62|
|                Asia|     Japan|         Cereal|     Offline|            C|161442649|     3322|    205.7|  117.11|    683335.4| 389039.42|  294295.98|
|  Sub-Saharan Africa|      Chad|         Fruits|     Offline|            H|645713555|     9845|     9.33|    6.92|    91853.85|   68127.4|   23726.45|
|              Europe|   Armenia|         Cereal|      Online|            H|683458888|     9528|    205.7|  117.11|   1959909.6|1115824.08|  844085.52|
|  Sub-Saharan Africa|   Eritrea|         Cereal|      Online|            H|679414975|     2844|    205.7|  117.11|    585010.8| 333060.84|  251949.96|
|              Europe|Montenegro|        Clothes|     Offline|            M|208630645|     7299|   109.28|   35.84|   797634.72| 261596.16|  536038.56|
|Central America a...|   Jamaica|     Vegetables|      Online|            H|266467225|     2428|   154.06|   90.93|   374057.68| 220778.04|  153279.64|
|Australia and Oce...|      Fiji|     Vegetables|     Offline|            H|118598544|     4800|   154.06|   90.93|    739488.0|  436464.0|   303024.0|
|  Sub-Saharan Africa|      Togo|        Clothes|      Online|            M|451010930|     3012|   109.28|   35.84|   329151.36| 107950.08|  221201.28|
|              Europe|Montenegro|         Snacks|     Offline|            M|220003211|     2694|   152.58|   97.44|   411050.52| 262503.36|  148547.16|
|              Europe|    Greece|      Household|      Online|            C|702186715|     1508|   668.27|  502.54|  1007751.16| 757830.32|  249920.84|
|  Sub-Saharan Africa|     Sudan|      Cosmetics|      Online|            C|544485270|     4146|    437.2|  263.33|   1812631.2|1091766.18|  720865.02|
|                Asia|  Maldives|         Fruits|     Offline|            L|714135205|     7332|     9.33|    6.92|    68407.56|  50737.44|   17670.12|
|              Europe|Montenegro|        Clothes|     Offline|            H|448685348|     4820|   109.28|   35.84|    526729.6|  172748.8|   353980.8|
|              Europe|   Estonia|Office Supplies|      Online|            H|405997025|     2397|   651.21|  524.96|  1560950.37|1258329.12|  302621.25|
|       North America| Greenland|      Beverages|      Online|            M|414244067|     2880|    47.45|   31.79|    136656.0|   91555.2|    45100.8|
|  Sub-Saharan Africa|Cape Verde|        Clothes|      Online|            C|821912801|     1117|   109.28|   35.84|   122065.76|  40033.28|   82032.48|
|  Sub-Saharan Africa|   Senegal|      Household|     Offline|            L|247802054|     8989|   668.27|  502.54|  6007079.03|4517332.06| 1489746.97|
+--------------------+----------+---------------+------------+-------------+---------+---------+---------+--------+------------+----------+-----------+
only showing top 20 rows

## Question 1
Select only the 'OrderID', 'Region', and 'TotalRevenue' columns from the dataset.

In [13]:
# Your code here
df1 = df.select('OrderID', 'Region','TotalRevenue')
df1.show()

+---------+--------------------+------------+
|  OrderID|              Region|TotalRevenue|
+---------+--------------------+------------+
|686800706|Middle East and N...|   3692591.2|
|185941302|       North America|   464953.08|
|246222341|Middle East and N...|   387259.76|
|161442649|                Asia|    683335.4|
|645713555|  Sub-Saharan Africa|    91853.85|
|683458888|              Europe|   1959909.6|
|679414975|  Sub-Saharan Africa|    585010.8|
|208630645|              Europe|   797634.72|
|266467225|Central America a...|   374057.68|
|118598544|Australia and Oce...|    739488.0|
|451010930|  Sub-Saharan Africa|   329151.36|
|220003211|              Europe|   411050.52|
|702186715|              Europe|  1007751.16|
|544485270|  Sub-Saharan Africa|   1812631.2|
|714135205|                Asia|    68407.56|
|448685348|              Europe|    526729.6|
|405997025|              Europe|  1560950.37|
|414244067|       North America|    136656.0|
|821912801|  Sub-Saharan Africa|   122065.76|
|247802054|  Sub-Saharan Africa|  6007079.03|
+---------+--------------------+------------+
only showing top 20 rows

## Question 2
Find all orders from the 'Europe' region with a total revenue greater than $500,000.

In [16]:
# Your code here
df2=df1.filter((df1.Region=='Europe') & (df1.TotalRevenue>500000))
df2.show()

+---------+------+------------+
|  OrderID|Region|TotalRevenue|
+---------+------+------------+
|683458888|Europe|   1959909.6|
|208630645|Europe|   797634.72|
|702186715|Europe|  1007751.16|
|448685348|Europe|    526729.6|
|405997025|Europe|  1560950.37|
|880999934|Europe|   689884.64|
|294499957|Europe|  2026157.36|
|689975583|Europe|  2032794.64|
|759279143|Europe|  4184675.46|
|489148938|Europe|  3753133.44|
|876286971|Europe|  1097967.61|
|270001733|Europe|   3658489.6|
|812295901|Europe|  3427318.23|
|535654580|Europe|   617998.29|
|810871112|Europe|  2367799.56|
|285341823|Europe|  5106137.61|
|817740142|Europe|   1617198.8|
|947434604|Europe|   894780.48|
|869397771|Europe|  1255122.75|
|350274455|Europe|   1855948.5|
+---------+------+------------+
only showing top 20 rows

## Question 3
List the distinct item types sold in the 'Middle East and North Africa' region.

In [ ]:
# Your code here
df

In [25]:
df3=df.filter(df.Region == 'Middle East and North Africa')
df3.select('ItemType').distinct().show()
#df.select('Region').distinct().show()

+---------------+
|       ItemType|
+---------------+
|      Baby Food|
|         Cereal|
|           Meat|
|      Household|
|     Vegetables|
|      Beverages|
|Office Supplies|
|      Cosmetics|
|  Personal Care|
|         Fruits|
|         Snacks|
|        Clothes|
+---------------+

In [30]:
!git add 'Databricks Assignment 1 (New)-a3nYY0uqkv.ipynb'

fatal: not a git repository (or any of the parent directories): .git

## Question 4
Select orders that are either 'High' priority or have a total profit greater than $100,000.

In [ ]:
# Your code here

## Question 5
Create a new column called 'RevenueCategory' that categorizes total revenue as 'Low' if less than $100,000, 'Medium' if between $100,000 and $500,000, and 'High' if greater than $500,000.

In [ ]:
# Your code here

## Question 6
Remove the 'UnitCost' column from the dataset and rename 'TotalRevenue' to 'Revenue'.

In [ ]:
# Your code here

## Question 7
Find all orders of 'Clothes' or 'Cosmetics' that were sold through the 'Online' sales channel.

In [ ]:
# Your code here

## Question 8
Create a new column 'ProfitMargin' that calculates the percentage of profit relative to revenue (TotalProfit / TotalRevenue * 100).

In [ ]:
# Your code here

## Question 9
Select distinct combinations of 'Region' and 'ItemType' where the 'OrderPriority' is 'Medium' or 'High'.

In [ ]:
# Your code here

## Question 10
Find all orders where the 'UnitPrice' is greater than the average 'UnitPrice' of all products.

In [ ]:
# Your code here